.button {
	display: inline-block;

	padding: 10px;

	cursor: pointer;
	transition: 300ms ease;
	text-align: center;

	border: none;
	border-radius: 5px;

	font-size: 14px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: none;
}

.ghost:hover {
	background: var(--gray-light);
}

.arrow {
	display: inline-block;

	margin-left: 10px;

	transition: 200ms ease;
}

.arrow.down {
	transform: rotate(90deg);
}

.button.primary .arrow svg {
	fill: var(--gray-light);
}
