html,
body {
	color: var(--black);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #3B434E;
	--white: #FFF;
	--primary: #7653FC;
	--red: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--font-family: sans-serif;
}
